<li class="nav navbar-nav">
    <br />
    <br />
    <ul>@Html.ActionLink("Alunos", "Index", "Aluno")</ul>
    <ul>@Html.ActionLink("Disciplinas", "Index", "Disciplina")</ul>
    <ul>@Html.ActionLink("Usuários", "Index", "Usuario")</ul>
    <br />
    <ul>@Html.Partial("_Autenticacao")</ul>
</li>
